<% include partials/header %>

<div class="contactcontainer">
  <h3 style="text-align:center;">Contact</h3>
  <h5>If you need to get in touch with us:</h5>
  <a href="#">hello@monitoradvertising.com</a>
</div>

<% include partials/footer %>
