<% include partials/header %>

<div class="errorContainer">
	<h4 style="text-align:center;"><%= message %></h4>
	<div class="errorImgContainer">
		<img src="./images/thisisfine.jpg" style="width: 60%">
	</div>
</div>

<% include partials/footer %>
